.sign-in 
  .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.sign-form
    = form_tag(sessions_path, :class => "form-horizontal",:name => "sign-in_form", :onsubmit => "return validateSignInForm();",method: :post, remote: true) do 
      %fieldset
        %legend Sign In
        .form-group
          %label.col-lg-2.control-label{for: "inputEmail"} Email
          .col-lg-10
            = text_field_tag( :email, nil,:class => "form-control", :id => "inputEmail", placeholder: 'email' )
        .form-group 
          %label.col-lg-2.control-label{for: "inputPassword"} Password
          .col-lg-10
            = password_field_tag( :password, nil, :class => "form-control", :id => "inputPassword", placeholder: 'password' ) 
        .form-group
          .col-lg-10.col-lg-offset-2
            = submit_tag  'sign in', class: "btn btn-primary"
            = link_to 'sign up', new_user_path, { :class => "btn btn-primary", remote: true, method: :get }