%div{class: "task project-#{task.project_id} priority-#{task.priority}" , id: "playfield"}
  .row.task-row
    .col-md-1.col-xs-2
      .task-check-box
        %input{type:"checkbox"}
    .col-md-7.col-xs-6
      .task-name
        = task.name
    .col-md-4.col-xs-4.priority
      .task-control
        = link_to change_down_priority_task_path(:id => task.id, :priority => "1", :project_id => task.project_id), remote: true, method: :post, :onclick => "return changePriorityDown(#{task.priority}, #{task.project_id});", class: "btn btn-default btn-xs down", style:"background: transparent; border: none; padding: 0;" do
          %span.glyphicon.glyphicon-arrow-down
        = link_to change_up_priority_task_path(:id => task.id, :priority => "-1"), remote: true, method: :post, :onclick => "return changePriorityUp(#{task.priority}, #{task.project_id});", class: "btn btn-default btn-xs up", style:"background: transparent; border: none; padding: 0;" do
          %span.glyphicon.glyphicon-arrow-up


