.projects
  = link_to 'sign out', session_path(:id => @user.id), remote: true, method: :delete, class:"button btn btn-default", type:"button"
  .row
    .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.project-create
      - if @projects.size > 0
        - @user.projects.each do |project|
          = render project
  .row
    .col-md-2.col-md-offset-5.col-xs-4.col-xs-offset-4
      %button.btn.btn-default{type: "button", :onclick => "return ProjectNameInput();"} Add TODO list
