.sign-up
  .col-md-6.col-md-offset-3.col-xs-10.col-xs-offset-1.sign-form
    = form_tag(@user,:class => "form-horizontal", :name => "sign-up_form", :onsubmit => "return validateSignUpForm();", method: :post, remote: true) do
      %fieldset
        %legend Sign Up
        .form-group
          %label.col-lg-2.control-label{for: "inputName"} Name
          .col-lg-10
            = text_field_tag( :name, nil,:class => "form-control", :id => "inputName", placeholder: 'name' )
        .form-group
          %label.col-lg-2.control-label{for: "inputEmail"} Email
          .col-lg-10
            = text_field_tag( :email, nil,:class => "form-control", :id => "inputEmail", placeholder: 'email' )
        .form-group 
          %label.col-lg-2.control-label{for: "inputPassword"} Password
          .col-lg-10
            = password_field_tag( :password, nil, :class => "form-control", :id => "inputPassword", placeholder: 'password' ) 
        .form-group 
          %label.col-lg-2.control-label{for: "inputPasswordConfirmation"} Password Confirmation
          .col-lg-10
            = password_field_tag( :password_confirmation, nil, :class => "form-control", :id => "inputPasswordConfirmation", placeholder: 'password confirmation' ) 
        .form-group
          .col-lg-10.col-lg-offset-2
            = submit_tag  'sign up', class: "btn btn-primary"
            = link_to 'sign in', new_session_path, { :class => "btn btn-primary", remote: true, method: :get }