%div{class: "project project-#{project.id}"}
  .panel.panel-primary
    .panel-heading
      .row.project-heading
        .pull-left
          %span{ class:"glyphicon glyphicon-tasks"}
        .col-xs-8
          =project.name
        .pull-right
          = link_to project_path(:id => project.id), remote: true, method: :delete, class: "btn btn-default btn-xs", style:"background: transparent; border: none; padding: 0;" do
            %span.glyphicon.glyphicon-trash
    .panel-body
      .input-group
        %span{ class:"input-group-addon"}
          %span{ class:"glyphicon glyphicon-plus"}
        = form_tag('/tasks', method: :post, remote: true, class:"form-inline") do
          .row
          .col-xs-8.nopadding
            = text_field_tag(:name, nil, placeholder: 'New task', class:"form-control add-task-form", type:"text",style:"width: 100%;")
            = hidden_field_tag(:project_id, "#{@projects.empty? ? 0 : project.id}")
          .col-xs-4.nopadding
            = submit_tag 'Add task', class:"btn btn-default add-task-button", style:"float: right; width: 100%;"
      
      .taskpane
        = render project.tasks


 
  
  