@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  background: url(image-path('back.jpg')) repeat-x;
  margin: 0;
  padding: 0;
}



.alert.alert-dismissable.alert-danger{
	margin-top: 10px;
}

.project-heading {
  margin-left: 5px;
  margin-right: 5px;
}

.panel-body {
  padding: 0;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.task {
  border-bottom: 1px solid #E6ECEB;
}

.task-check-box {
  width: 40px;
  text-align: center;
  vertical-align: middle;  
  border-right: 1px solid #F7DBE0;
  padding-top: 1em;
  padding-bottom: 1em;
}

.task-row{
  height:50px;
}

.task-name{ 
  padding-top: 1em;
  padding-bottom: 1em;
}

.task-control{
  border-left: 1px solid #F7DBE0;
  padding-top: 1em;
  padding-bottom: 1em;
  float:right;
  padding-right: 10px;
  padding-left: 10px;
}

.input-group-addon{
  border-radius: 0;
}

input.add-task-form{
  border-radius: 0;
}

input.add-task-button{
  border-radius: 0;
}

.sign-form{
  padding-top: 5em;
}